<!DOCTYPE html>
<html ng-app="grossbuch" ng-controller="controller">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/base.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/layout.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/skeleton/1.2/skeleton.min.css"/>
    <script src="//code.angularjs.org/1.2.9/angular.min.js" type="text/javascript"></script>
    <script src="//code.angularjs.org/1.2.9/angular-cookies.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="/app.js" type="text/javascript"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart(target, data, title) {
        var data = google.visualization.arrayToDataTable(data);
        var options = {}
        if(title){
            options.title = title;
        }
        options.curveType = 'function';
        options.legend = 'none';
        var chart = new google.visualization.LineChart(document.getElementById(target));
        chart.draw(data, options);
      }
    </script>
    <style>
        .filterbutton{font-variant:small-caps; font-size: 14px;}
        .amount:after{content: " uah";font-variant:small-caps;}
        .amount.usd:after{content: " usd";font-variant:small-caps;}
        .action{text-decoration: underline; cursor: pointer;}
        .action:hover{text-decoration: none;}
        #newAmouont{margin-bottom: 2px;}
        .popup{
            background-color: #fff;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: -125px;
            margin-left: -100px;
            width: 200px;
            height: 250px;
            box-shadow: -webkit-box-shadow 0 0 10px 0 #404040;
            box-shadow: 0 0 10px 0 #404040;
            padding: 5px;
        }
        .popup h4 small.action{float: right;}
        .popup .popup-items-wrapper{overflow-y: auto;height: 195px;}
        .transactions{max-height: 500px; overflow-y: auto;}
        .hidden{opacity: 0.2;}
        .hidden:hover{opacity: 0.8;}
        .toggle-sync .action{background-color: #FFA4A2; padding: 2px 3px;}
        .toggle-sync .action.enabled{background-color: #C0FFC4;}
        span.enablestatus:after{content: 'disabled';}
        .toggle-sync .action.enabled span.enablestatus:after{content: 'enabled';}
        #userstatchartwrapper{
            margin-left: -200px;
            width: 400px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="sixteen columns">
        <div class="ten columns">&nbsp;</div>
        <div class="one column">&nbsp;<span ng-if="!syncenabled" class="action filterbutton" ng-click="refresh();">Refresh</span></div>
        <div class="two columns toggle-sync"> <span ng-class="{enabled: syncenabled}" class="action filterbutton" ng-click="toggleSync();">Sync <span class="enablestatus"></span></span></div>
        <div class="two columns toggle-users"> <span class="action filterbutton" ng-click="togglePopup('Users');">manage users</span></div>
    </div>
    <div class="sixteen columns">
        <h3 ng-show="pageinfo.summary.total > 0">Total balance: <span class="amount">{{pageinfo.summary.total}}</span></h3>
        <h3 ng-show="pageinfo.summary.usd > 0">Total USD: <span class="amount usd">{{pageinfo.summary.usd}}</span></h3>
        <h4 ng-show="pageinfo.summary.in_credit > 0">In credit: <span class="amount">{{pageinfo.summary.in_credit}}</span></h4>
        <h4 ng-show="pageinfo.summary.externalLoan > 0">External loan: <span class="amount">{{pageinfo.summary.externalLoan}}</span></h4>
        <h4 ng-show="pageinfo.summary.in_bank > 0">In Banka: <span class="amount">{{pageinfo.summary.in_bank}}</span></h4>
    </div>
    <hr/>
    <div class="sixteen columns">
        <div class="one column">
            <input type="text" ng-model="exchData.from"/>
        </div>
        <div class="three columns">
            <label for="uah2usd">
                <input type="radio" ng-model="exchData.type" name="convert_type" id="uah2usd" value="uah2usd" selected="selected" />
                <span>UAH to USD</span>
            </label>
            <label for="usd2uah">
                <input type="radio" ng-model="exchData.type" name="convert_type" id="usd2uah" value="usd2uah" selected="selected" />
                <span>USD to UAH</span>
            </label>
        </div>
        <div class="one column">
            <input type="text" ng-model="exchData.to"/>
        </div>
        <div class="three columns">
            <select ng-model="exchData.user">
                <option ng-repeat="user in pageinfo.users" value="{{user._id}}" ng-if="!user.disabled">{{user.name}}</option>
            </select>
        </div>
        <div class="two columns">
            <input type="button" value="Exchange" ng-click="exchange()"/>
        </div>
    </div>
    <hr/>
    <div class="sixteen columns">
        <div class="two columns">
            <label for="debitRadio">
                <input type="radio" ng-model="newTransaction.type" name="type" id="debitRadio" value="debit" selected="selected" />
                <span>Debit</span>
            </label>
            <label for="payoutRadio">
                <input type="radio" ng-model="newTransaction.type" name="type" id="payoutRadio" value="payout" selected="selected" />
                <span>Payout</span>
            </label>
        </div>
        <div class="four columns">
            <label for="creditRadio">
                <input type="radio" ng-model="newTransaction.type" name="type" id="creditRadio" value="credit" />
                <span>Credit</span>
            </label>
            <label for="repaymentRadio">
                <input type="radio" ng-model="newTransaction.type" name="type" id="repaymentRadio" value="repayment"/>
                <span>Repayment of a credit</span>
            </label>
        </div>
        <div class="three columns">
            <select ng-model="newTransaction.name">
                <option ng-repeat="user in pageinfo.users" value="{{user._id}}" ng-if="!user.disabled" ng-selected="user._id==saveduser">{{user.name}}</option>
            </select>
        </div>
        <div class="two columns">
            <input id="newAmouont" type="text" name="amount" placeholder="Amount" ng-model="newTransaction.amount"/>
            <span class="amount action" ng-click="setAmount(10);">10</span> &nbsp;
            <span class="amount action" ng-click="setAmount(20);">20</span>
        </div>
        <div class="one column">
            <input type="button" ng-click="processTransaction();" value="Add"/>
        </div>
    </div>
    <hr/>
    <div class="twelve columns">
        <h4>Last transactions
            <span class="action filterbutton" ng-click="togglePopup('TRFilters');">filters</span>
            <span class="action filterbutton" ng-click="togglePopup('TRUsers');">users</span>
            <span class="action filterbutton" ng-click="cancelTransaction();">Cancel last [X]</span>
        </h4>
        <ul class="transactions">
            <li ng-repeat="transaction in pageinfo.transactions"
                ng-show="transactionfilters.filters[transaction.type] && transactionfilters.users[transaction.name]">
                {{transaction.date}}
                - <span class="action" ng-click="toggleTransactionUser(transaction.name);">{{transaction.fullname}}</span>
                - <span class="action" ng-click="toggleTransactionType(transaction.type);">{{transaction.type}}</span>
                - {{transaction.amount}}
                <span ng-show="transaction.summary">
                    -
                    <span ng-show="transaction.summary.in_bank > 0">Banka: {{transaction.summary.in_bank}},</span>
                    <span ng-show="transaction.summary.in_credit > 0">Credit: {{transaction.summary.in_credit}},</span>
                    <span ng-show="transaction.summary.externalLoan > 0">Loan: {{transaction.summary.externalLoan}},</span>
                    <span ng-show="transaction.summary.total > 0">Total: {{transaction.summary.total}}</span>
                    <span ng-show="transaction.summary.usd > 0">USD: {{transaction.summary.usd}}</span>
                </span>
            </li>
        </ul>
    </div>
    <div class="four columns">
        <h4>Debit <small class="hidden action" ng-click="showstat('_total');">(since {{initdate}})</small> </h4>
        <ul><li ng-repeat="user in pageinfo.users" class="action" ng-click="showstat(user._id);" ng-show="user.debit>0 || user.debit<0">{{user.name}}: {{user.debit}}</li></ul>
    </div>
    <div class="four columns" ng-show="pageinfo.summary.in_credit > 0">
        <h4>Credit</h4>
        <ul>
            <li ng-repeat="user in pageinfo.users" ng-show="user.credit>0">
                <span ng-class="{action: !user.disabled}" ng-click="setTransaction((user.disabled?0:user._id), 'repayment', user.credit)">
                    {{user.name}}: {{user.credit}}
                </span>
            </li>
        </ul>
    </div>
    <div class="four columns" ng-show="pageinfo.summary.externalLoan > 0">
        <h4>External loan</h4>
        <ul>
            <li ng-repeat="user in pageinfo.users" ng-show="user.credit<0">
                <span ng-class="{action: !user.disabled}" ng-click="setTransaction((user.disabled?0:user._id), 'credit', -user.credit)">
                    {{user.name}}: {{-user.credit}}
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="popup" ng-show="showPopup.TRFilters">
    <h4>Filters <small class="action" ng-click="togglePopup('TRFilters');">close [x] </small></h4>
    Show:
    <span class="action" ng-click="checkAll('TRFilters', true);">All</span>
    <span class="action" ng-click="checkAll('TRFilters', false);">None</span>
    <div class="popup-items-wrapper">
        <label ng-repeat="(type, data) in transactionfilters.filters" for="filter-{{type}}">
            <input type="checkbox" id="filter-{{type}}" ng-model="transactionfilters.filters[type]" />
            <span>{{type}}</span>
        </label>
    </div>
</div>
<div class="popup" ng-show="showPopup.TRUsers">
    <h4>Users <small class="action" ng-click="togglePopup('TRUsers');">close [x] </small></h4>
    Show:
    <span class="action" ng-click="checkAll('TRUsers', true);">All</span>
    <span class="action" ng-click="checkAll('TRUsers', false);">None</span>
    <div class="popup-items-wrapper">
        <label ng-repeat="user in pageinfo.users" for="user-{{user._id}}">
            <input type="checkbox" id="user-{{user._id}}" ng-model="transactionfilters.users[user._id]" />
            <span>{{user.name}}</span>
        </label>
    </div>
</div>
<div class="popup" ng-show="showPopup.Users">
    <h4>Users disabling <small class="action" ng-click="togglePopup('Users');">close [x] </small></h4>
    <div class="popup-items-wrapper">
        <label ng-repeat="(key, user) in pageinfo.users" for="adminuser-{{user._id}}">
            <input
                type="checkbox"
                id="adminuser-{{user._id}}"
                ng-model="pageinfo.users[key].disabled"
                ng-change="toggleUser(user._id, pageinfo.users[key].disabled);"
            />
            <span>{{user.name}}</span>
        </label>
    </div>
</div>
<div class="popup" ng-show="showPopup.UserStat" id="userstatchartwrapper">
    <h4>User debit stat <small class="action" ng-click="togglePopup('UserStat');">close [x] </small></h4>
    <h5>{{ShowUserstatName}}</h5>
    <div id="userstatchart"></div>
</div>

</body>
</html>